@model AdmissionSystem.Models.StudentsFilterViewModel

@{ViewData["Title"] = "Students Filter";}

<h1>Students Filter</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Filter">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" value="1970-01-01T00:00:00.000" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SortColumn" class="control-label">Sort By</label>
                <select asp-for="SortColumn" class="form-control" value="@(Model.SortColumn)">
                    <option value="StudentId">Student Id</option>
                    <option value="BirthDate">Birth Date</option>
                </select>
            </div>

            <div class="form-group">
                <input asp-for="SortDesc" />
                <label asp-for="SortDesc" class="control-label">Descending Order</label>
            </div>

            <div class="form-group">
                <input type="submit" value="Filter" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        @using ( Html.BeginForm("ExportCSV", "Student", FormMethod.Post) )
        {
            @Html.Hidden("FirstName", Model.FirstName)
            @Html.Hidden("LastName", Model.LastName)
            @Html.Hidden("BirthDate", Model.BirthDate)
            @Html.Hidden("SortColumn", Model.SortColumn)
            @Html.Hidden("SortDesc", Model.SortDesc)
            @Html.Hidden("PageNumber", Model.PageNumber)
            @Html.Hidden("PageSize", Model.PageSize)

            <input type="submit" class="btn btn-primary" value="Export CSV" />
        }
    </div>
    <div class="col-md-2">
        @using ( Html.BeginForm("ExportJSON", "Student", FormMethod.Post) )
        {
            @Html.Hidden("FirstName", Model.FirstName)
            @Html.Hidden("LastName", Model.LastName)
            @Html.Hidden("BirthDate", Model.BirthDate)
            @Html.Hidden("SortColumn", Model.SortColumn)
            @Html.Hidden("SortDesc", Model.SortDesc)
            @Html.Hidden("PageNumber", Model.PageNumber)
            @Html.Hidden("PageSize", Model.PageSize)

            <input type="submit" class="btn btn-primary" value="Export JSON" />
        }
    </div>
    <div class="col-md-2">
        @using ( Html.BeginForm("ExportXML", "Student", FormMethod.Post) )
        {
            @Html.Hidden("FirstName", Model.FirstName)
            @Html.Hidden("LastName", Model.LastName)
            @Html.Hidden("BirthDate", Model.BirthDate)
            @Html.Hidden("SortColumn", Model.SortColumn)
            @Html.Hidden("SortDesc", Model.SortDesc)
            @Html.Hidden("PageNumber", Model.PageNumber)
            @Html.Hidden("PageSize", Model.PageSize)

            <input type="submit" class="btn btn-primary" value="Export XML" />
        }
    </div>
</div>

<br/>
<br/>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Phone
            </th>
            <th>
                Email
            </th>
            <th>
                Birth Date
            </th>
            <th>
                ClassId
            </th>
            <th>
                Level
            </th>
            <th>
                HasDebt
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach ( var item in Model.Students )
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Level)
                </td>
                <td>
                    @(item.HasDebt)
                </td>
                <td>
                    <a href="Edit/@(item.StudentId)">
                        Edit
                    </a> |
                    <a href="Delete/@(item.StudentId)">
                        Delete
                    </a> |
                    <a href="Details/@(item.StudentId)">
                        Details
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("Prev", "Filter", new { PageNumber = Model.PageNumber - 1 })
@Html.ActionLink("Next", "Filter", new { PageNumber = Model.PageNumber + 1 })
